<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta description="Trading with Power" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <!-- Material Icon -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Custom styles -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- Form -->
    <div class="container regform login-form mt-2">
      <%- include("../messages") %>
      <h6 class="px-3">Welcome! Please register an account with us.</h6>
      <img class="regimage" src="/img/twp.png" alt="" srcset="" />
      <form action="/auth/register" class="w-100" method="post">
        <div class="form-group">
          <label for="fullname">Full Name</label>
          <input
            type="text"
            class="form-control"
            name="fullname"
            placeholder="Enter your full name"
            id="fullname"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="name@gmail.com"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="6+ characters"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            name="confirmpassword"
            placeholder="Retype your password"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">Sign up</button>
        <br />
        <span>Already have an account?</span>
        <br />
        <a href="/auth/login" class="btn btn-warning"> Sign in </a>
      </form>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
    <script src="/js/script.js"></script>
  </body>
</html>
