<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page not found</title>
    <!-- Material Icon -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Custom styles -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="error404-container">
      <div class="error404-text">
        <h1>Page not found</h1>
        <p>Sorry, we couldn't find the page you're looking for.</p>
        <a href="/" class="error404-back">
          Go back home
          <span class="material-icons"> trending_flat </span>
        </a>
      </div>
      <div class="error404-footer">
        <a href="mailto:support@tradewithpower.net">Contact Support</a>
        <a href="https://instagram.com/tradewithpower">Instagram</a>
      </div>
    </div>
  </body>
</html>
