* {
  padding: 0;
  margin: 0;
}

body {
  background: #fafbfd;
  font-family: "Montserrat", sans-serif;
}

/* Custom Fonts */
@font-face {
  font-family: Rubik;
  src: url(/fonts/rubik.woff2);
}
/* Banner Styles */
.container__heading {
  font-family: Rubik;
  font-size: 4rem !important;
  font-weight: 900;
  color: #fff !important;
  bottom: 80px;
}

.banner-disp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.banner-disp p {
  color: #fafafa;
  width: 60%;
  margin: 7rem auto 0 auto;
  top: 50px;
  font-size: 18px;
  text-align: center;
}

.banner-button {
  display: flex;
  align-items: center;
  background: #ead9b3;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  margin-top: 8rem;
}

.button-navbar {
  background: #ead9b3;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  width: 10%;
  text-align: center;
}

.button-navbar:hover {
  text-decoration: none;
  background: #fafafa;
  color: #2a363b;
}
.banner-button:hover {
  text-decoration: none;
  background: #fafafa;
  color: #2a363b;
}

/* Middle section */
.why-icons-container {
  display: flex;
  align-items: center;
  gap: 1em;
}
.why-icons {
  font-size: 5rem;
}
.why-icons:hover {
  color: #ead9b3;
  cursor: pointer;
  font-size: 5.5rem;
}

.in-highlight {
  position: relative;
  background: 0 0;
  z-index: 0;
}

.in-highlight::before {
  content: "";
  background: #ead9b3;
  position: absolute;
  left: 0;
  right: -2px;
  bottom: 2px;
  height: 16px;
  z-index: -1;
}

.container-btc-benefits {
  display: flex;
  align-items: center;
  padding: 10px;
}

.btc-image {
  flex: 1;
  padding: 5px;
}
.btc-image img {
  width: 90%;
  object-fit: cover;
}
.benefits_heading {
  text-align: center;
  padding: 0 100px;
}

.benefits-text {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.benefits-items {
  display: flex;
  align-items: center;
  gap: 2em;
  justify-content: center;
}

.benefits-description {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

td {
  text-align: left;
  padding-left: 60px;
}
tr {
  text-align: left;
}
p {
  font-family: "Montserrat", sans-serif;
}

.line {
  border-left: 2px solid #ead9b3;
  display: block;
  height: 60px;
  margin: 0 10px;
}

.steps-contents {
  color: #69686d;
}

/* Footer Styles */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer .products {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
footer .support {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
footer .company {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.footer-credit {
  vertical-align: middle;
  background-color: #fff;
  height: 70px;
  width: 100%;
  box-shadow: 1px 1px 2px 1px rgba(182, 177, 177, 0.6);
}

.footer-credit p {
  margin: 20px auto;
  align-self: center;
  text-align: center;
  font-weight: bold;
}

/* Login Form */
.login-form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 80vh;
  background: #fff;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;

  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 7px;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 15px rgba(179, 179, 179, 0.7);
}

/* User Dashboard */
.user-container {
  display: flex;
}

/* Navbar */
.dashboard__container {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.userinfo {
  box-shadow: 0 2px 15px rgba(179, 179, 179, 0.7);
  background: #fff;
  height: 50vh;
  padding: 20px;
  border-radius: 5px;
}

.user-navbar {
  width: 100%;
  min-height: 50px;
  box-shadow: 0 2px 15px rgba(179, 179, 179, 0.7);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 4px;
  border-radius: 5px;
}
.user-navbar span {
  cursor: pointer;
}

.usericon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.usericon .material-icons {
  cursor: pointer;
}

/* End of user navbar */

/* Start of sidebar */
.user-sidebar {
  width: 20%;
  padding: 4px;
  background: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sidebarall {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.logobrand {
  margin: 20px 0;
}
.sidebarall a {
  cursor: pointer;
  color: #625f6e;
  font-size: 15px;
  line-height: 22px;
}
.sidebarall a:hover {
  color: #3c3b3f;
  text-decoration: none;
}
.closeme {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 500px) {
  .login-form {
    width: 90vw !important;
  }
}
@media screen and (max-width: 768px) {
  .banner-button {
    margin-bottom: 10rem;
  }

  .banner-disp p {
    color: #fafafa;
    width: 60%;
    margin-bottom: 15rem;
    font-size: 18px;
    text-align: center;
  }

  .container__heading {
    display: none;
  }

  .login-form {
    max-width: 90vw !important;
  }
  .container-btc-benefits {
    flex-direction: column;
  }
  .why-icons-container {
    flex-direction: column;
  }
  .benefits_heading {
    text-align: center;
    padding: 0 50px;
  }
  .footer-container {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .login-form {
    width: 40vw;
  }
  .user-sidebar {
    display: none;
  }
  .user-sidebar-show {
    display: flex;
    position: absolute;
    z-index: 999;
    width: 200px;
  }
  .closeme {
    display: inline-block;
    cursor: pointer;
  }
  .closethebar {
    display: none;
  }
}
