<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.png"
    />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <!-- Material Icon -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body style="background-color: #f8f8f8">
    <div class="user-container">
      <div class="dashboard__container">
        <div class="userinfo">
          <div class="welcome-dashboard">
            <h4 class="welcome__greeting">Hi 🎉 admin!</h4>
          </div>
          <a
            href="/user/alltransactions"
            target="_blank"
            class="btn btn-success"
            >See all transactions</a
          >
        </div>
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
