<div class="user-navbar">
  <div class="menuicon">
    <span class="material-icons" id="showsidebar"> menu </span>
  </div>
  <div class="usericon">
    <span>Hello</span>
    <span><%-fullname %></span>
    <span class="material-icons"> account_circle </span>
  </div>
</div>
