<div class="sidebarall">
  <a
    href="/"
    style="display: flex; align-items: center; gap: 0.5em; font-size: 30px"
    class="logobrand"
  >
    TWp <span class="material-icons closeme"> close </span>
  </a>
  <a
    href="/user/dashboard"
    style="display: flex; align-items: center; gap: 0.5em"
    class="dashboard"
  >
    <span class="material-icons"> dashboard </span>Dashboard
  </a>
  <a
    href="/user/wallet"
    style="display: flex; align-items: center; gap: 0.5em"
    class="wallet"
  >
    <span class="material-icons"> account_balance_wallet </span> Wallet
  </a>
  <a
    href=""
    style="display: flex; align-items: center; gap: 0.5em"
    class="investments"
  >
    <span class="material-icons"> store </span>Packages
  </a>
  <a
    href=""
    style="display: flex; align-items: center; gap: 0.5em"
    class="profilesettings"
  >
    <span class="material-icons"> settings </span> Profile Settings
  </a>
  <a
    href=""
    style="display: flex; align-items: center; gap: 0.5em"
    class="support"
  >
    <span class="material-icons"> support_agent </span> Contact Support
  </a>
  <a
    href="/user/logout"
    style="display: flex; align-items: center; gap: 0.5em"
    class="logout"
  >
    <span class="material-icons"> logout </span>Logout
  </a>
</div>
